<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209706877536-2hk1e5qg3ufsk5n1ojfv21thqkm1beuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209706877536-2hk1e5qg3ufsk5n1ojfv21thqkm1beuq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209706877536-kopoblmcc1f40dd4fr84arq6spfmbqlv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIGYPeAPBak51RSBDzvrwFcXlO6a41y0</string>
	<key>GCM_SENDER_ID</key>
	<string>209706877536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TotoML</string>
	<key>PROJECT_ID</key>
	<string>toto-169617</string>
	<key>STORAGE_BUCKET</key>
	<string>toto-169617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209706877536:ios:8b80f40dade987cbcb3905</string>
	<key>DATABASE_URL</key>
	<string>https://toto-169617.firebaseio.com</string>
</dict>
</plist>